<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_WssInterop">
                    <security defaultAlgorithmSuite="Default" authenticationMode="IssuedTokenOverTransport"
                        requireDerivedKeys="false" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
                        <localClientSettings detectReplays="false" />
                        <localServiceSettings detectReplays="false" />
                    </security>
                    <textMessageEncoding />
                    <httpsTransport />
                </binding>
                <binding name="CustomBinding_WssInterop1">
                    <security defaultAlgorithmSuite="Default" authenticationMode="IssuedTokenOverTransport"
                        requireDerivedKeys="false" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
                        <localClientSettings detectReplays="false" />
                        <localServiceSettings detectReplays="false" />
                    </security>
                    <textMessageEncoding />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://sphvm-37812.redmond.corp.microsoft.com:32844/d242c50ddb9947dfb819501200d59ec0/PSI/WssInterop.svc/secure"
                binding="customBinding" bindingConfiguration="CustomBinding_WssInterop"
                contract="SvcWssInterop.WssInterop" name="CustomBinding_WssInterop" />
            <endpoint address="http://sphvm-37812.redmond.corp.microsoft.com:32843/d242c50ddb9947dfb819501200d59ec0/PSI/WssInterop.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_WssInterop1"
                contract="SvcWssInterop.WssInterop" name="CustomBinding_WssInterop1" />
        </client>
    </system.serviceModel>
</configuration>
